apiVersion: apps/v1
kind: Deployment
metadata:
  name: iris-api-deployment
spec:
  replicas: 2  # Run 2 copies of your app for high availability
  selector:
    matchLabels:
      app: iris-api
  template:
    metadata:
      labels:
        app: iris-api
    spec:
      containers:
      - name: iris-api-container
        # This __IMAGE_URL__ is a placeholder!
        # Our GitHub Action will replace it with the real image path.
        image: __IMAGE_URL__
        ports:
        - containerPort: 8080 # The port from your Dockerfile
---
apiVersion: v1
kind: Service
metadata:
  name: iris-api-service
spec:
  type: LoadBalancer # This automatically creates a public IP address on GCP
  selector:
    app: iris-api
  ports:
  - protocol: TCP
    port: 80       # The public-facing port
    targetPort: 8080 # The port your container is running on (must match containerPort)
